################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/back/Gorra/.vs/Gorra/v17/.suo
/back/Gorra/.vs/Gorra/FileContentIndex/1cfabef5-44be-49a9-9ee1-4468c0f99e87.vsidx
/back/Gorra/.vs/Gorra/FileContentIndex
/back/Gorra/Gorra.api/obj/Container
/back/Gorra/Gorra.api/obj/Release/net8.0
/back/Gorra/Gorra.api/obj/project.nuget.cache
*.v2
*.vsidx
*.json
*.wsuo
*.sqlite
/back/Gorra/Gorra.apiminimal/bin/Debug/net8.0
/back/Gorra/Gorra.apiminimal/obj/Debug/net8.0/ref/Gorra.apiminimal.dll
/back/Gorra/Gorra.apiminimal/obj/Debug/net8.0/refint/Gorra.apiminimal.dll
/back/Gorra/Gorra.apiminimal/obj/Debug/net8.0/staticwebassets
/back/Gorra/.vs/Gorra/DesignTimeBuild/.dtbcache.v2

*/.terraform
/Terraform/.terraform 
/Terraform/.terraform.lock.hcl
/Terraform/.terraform.tfstate
/Terraform/.terraform.tfstate.backup
/back/Gorra/Gorra.apiminimal/obj/Debug/net8.0/Gorra.apiminimal.AssemblyInfo.cs
/back/Gorra/Gorra.apiminimal/obj/Debug/net8.0/Gorra.apiminimal.AssemblyInfoInputs.cache
/back/Gorra/Gorra.apiminimal/obj/Debug/net8.0/Gorra.apiminimal.assets.cache
/back/Gorra/Gorra.apiminimal/obj/Debug/net8.0/Gorra.apiminimal.csproj.AssemblyReference.cache
/back/Gorra/Gorra.apiminimal/obj/Debug/net8.0/Gorra.apiminimal.GeneratedMSBuildEditorConfig.editorconfig
/back/Gorra/Gorra.apiminimal/obj/Debug/net8.0/Gorra.apiminimal.AssemblyInfo.cs
/back/Gorra/Gorra.apiminimal/obj/Debug/net8.0/Gorra.apiminimal.AssemblyInfoInputs.cache
/back/Gorra/Gorra.apiminimal/Gorra.apiminimal.csproj.user
/back/Gorra/.vs/Gorra/v17/DocumentLayout.backup.json
/back/Gorra/.vs/Gorra/v17/DocumentLayout.json
/back/Gorra/Gorra.apiminimal/obj/Debug/net8.0/apphost.exe
/back/Gorra/Gorra.apiminimal/obj/Debug/net8.0/Gorra.apiminimal.dll
/back/Gorra/Gorra.apiminimal/obj/Debug/net8.0/Gorra.apiminimal.pdb
/back/Gorra/Gorra.apiminimal/obj/Container
/back/Gorra/.vs/ProjectEvaluation
/back/Gorra/Gorra.apiminimal/obj/Gorra.apiminimal.csproj.nuget.g.props
/back/Gorra/Gorra.apiminimal/obj/project.nuget.cache
/back/Gorra/Gorra.apiminimal/obj/Debug/net8.0/Gorra.apiminimal.genruntimeconfig.cache
/back/Gorra/Gorra.apiminimal/obj/Debug/net8.0/Gorra.apiminimal.csproj.CoreCompileInputs.cache
