################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/back/Gorra/.vs/Gorra/v17/.suo
/back/Gorra/.vs/Gorra/FileContentIndex/1cfabef5-44be-49a9-9ee1-4468c0f99e87.vsidx
/back/Gorra/.vs/Gorra/FileContentIndex
/Terraform/.terraform
/back/Gorra/Gorra.api/obj/Container
/back/Gorra/.vs/ProjectEvaluation
/back/Gorra/.vs/Gorra/DesignTimeBuild/.dtbcache.v2
/back/Gorra/.vs/Gorra/v17/.futdcache.v2
/back/Gorra/.vs/Gorra/v17/DocumentLayout.backup.json
/back/Gorra/.vs/Gorra/v17/DocumentLayout.json
/back/Gorra/Gorra.api/obj/Debug/net8.0/Gorra.api.AssemblyInfoInputs.cache
