.main-container {
    position: relative;
    height:100vh;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-height:870px) {
    .main-container {
        padding-bottom: 800px !important;
    }
}